body {
    /* background: #eee; */
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* ending of swiperjs */
  /* about section */

  .about {
    padding-top: 10px;
    background-color: #e0e8fd;
    box-shadow: 5px 10px #888888;
    box-shadow: 0 0.5rem 1.5rem rgba(38, 38, 38, 0.3);
  }

  .about .container {
    max-width: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .about h2 {
    font-family: 'Sacramento', cursive;
    font-weight: 800;
    font-size: 30px;
    color: rgb(107, 27, 27);
  }

  .about h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: rgb(73, 27, 27);
    font-size: 40px;
  }

  .about span {
    font-family: 'Source Serif 4', sans-serif;
    font-size: 18px;
  }

  .about h5 {
    margin-top: 10px;
    font-family: 'Source Serif 4', sans-serif;
    color: rgb(73, 27, 27);
    font-size: 21px;
  }

  /* ending of  about section  */





  /* starting of product section  */
  .box {
    display: flex;
    justify-content: space-between;
  }

  .container{
    max-width: 1000px;
  }

  .box .product {
    text-align: center;
    max-width: 195px;
  }

  .box .product img {
    width: 90%;
    transition: all .5s;
  }

  .box .product:hover img {
    /* box-shadow : 1.5rem [Horizontal ( +1 right, -1 left)] 1.5rem [vertical (+1 bottom, -1 top)] 1.5rem [fading/bular point/quantity] color; */
    box-shadow: 1rem 1rem 1rem rgba(38, 38, 38, 0.5);
  }

  .img_container {
    position: relative;
    text-align: center;
  }
  .product a{
    text-decoration: none;
    color: black;
  }
  .product p {
    position: absolute;
    bottom: 0;
    left: 9px;
    right: 0;
    margin-bottom: 0;
    padding: 7% 0;
    width: 90%;
    text-align: center;
    font-size: 100%;
    font-family: 'Source Serif 4', sans-serif;
    background-color: rgba(238, 238, 238, .9);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    transition: all .2s;
  }

  .box .product:hover p {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }

  .detail {
    margin-top: 20px;
    flex-wrap: nowrap;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .detail>div {
    margin-top: 5px;
  }

  .company_logo {
    width: 40%;
    border: 3px solid rgba(1, 1, 66, 0.3);
    border-radius: 10px;
  }

  .brand_name,
  .actual_price {
    color: gray;
    overflow: hidden;
  }

  .off_upto {
    color: green;
  }

  .deal {
    color: green;
    margin-top: 10px;
  }

  hr{
    max-width: 1000px;
  }


  .box>* {
      flex: 1 20.5%;
    }

  @media screen and (min-width: 1920px){
    .container{
      max-width: 1500px;
    }

    hr{
    max-width: 1500px;
  }

    .box {
      flex-wrap: wrap;
    }

  }
  @media screen and (max-width: 1920px) and (min-width: 1440px) {
    .container{
      max-width: 1500px;
    }
    hr{
    max-width: 1500px;
  }

    .box {
      flex-wrap: wrap;
    }

    .box>* {
      flex: 1 20%;
    }
  }

  @media screen and (max-width: 1440px) and (min-width: 768px) {
   .box {
     flex-wrap: wrap;
   }

   .box>* {
     flex: 1 25%;
   }
 }

 @media screen and (max-width: 768px) and (min-width: 520px) {
   .box {
     flex-wrap: wrap;
   }

   .box>* {
     flex: 1 33.3%;
   }
 }
 @media screen and (max-width: 520px){
   .box {
     flex-wrap: wrap;
   }

   .box>* {
     flex: 1 50%;
   }
 }