/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: radial-gradient(#fff, #d6e0ff);
    z-index: 10000000;
}

.balance{
    height: 69px;
}

header .navbar {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
}

.navbar li a {
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: black;
    margin-right: 10px;
    padding: .5rem .5rem;
    border-radius: 10px; 
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons a {
    text-decoration: none;
}

.icons i {
    font-size: 30px;
    margin-right: 5px;
}

.menu-block {
    display: none;
} */


/* media query */

/* @media screen and (max-width: 955px) {
    html {
        font-size: 55%;
    }
    .balance{
        height: 64px;
    }
    header {
        padding: 10px 20px;
    }
    header .icons .btn {
        font-size: 15px;
    }
    .icons i {
        font-size: 20px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 768px) {
    .menu-block {
        display: inline-block;
    }
    header .navbar {
        display: block;
        width: 40%;
        height: 100vh;
        position: absolute;
        top: 100%;
        right: 0;
        padding-left: 20px;
        background: radial-gradient(#fff, #d6e0ff);
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        transition: all .5s;
    }
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .navbar li {
        display: block;
        width: 100%;
        text-align: left;
    }
    .navbar li a {
        margin-bottom: 5px;
    }
    .icons i {
        font-size: 20px;
        margin-right: 5px;
    }
    header .icons .btn {
        font-size: 10px;
    }
}

@media screen and (max-width: 413px) {
    .icons .user {
        position: absolute;
        top: 330%;
        right: 0;
        width: 40%;
        height: 100vh;
        text-align: left;
        padding-left: 22px;
        text-align: left;
        transition: all .5s;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
    .icons .user.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@media screen and (max-width: 350px) {
    header {
        padding: 10px 0;
    }
} */



/* ---------------------------------------------------------- */






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: radial-gradient(#fff, #d6e0ff);
    z-index: 10000000;
}

header>*{
    flex-wrap: wrap;
    flex: 1 50%;
}

.icons1{
    display: flex;
    align-items: center;
    justify-content: left;
}
.icons1 a{
    text-decoration: none;
    color: #3b5998;
}

.fa-twitter{
    margin-left: 11px;
}

.fa-facebook-f,
.fa-instagram{
    margin-left: 20px;
}


.icons {
    display: flex;
    justify-content: right;
    align-items: center;
}

.icons a {
    text-decoration: none;
}

.icons1{
    font-size: 30px;
}
.icons i {
    font-size: 30px;
    margin-right: 5px;
}

.menu-block {
    display: none;
} 

.header_bottom{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.navbar {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
}

.navbar li a {
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: black;
    margin-right: 10px;
    padding: .5rem .5rem;
    border-radius: 10px; 
}

.search{
    display: flex;
    align-items: center;
    max-width: 225px;
}
.sreach_input{
    padding-left: 10px; 
    width: 150px;
}
.submit_button{
    border: none; 
    padding-left: 5px; 
    font-size: 20px; 
    background-color: transparent;
}

.balance{
    height: 147px;
}

/* media query */

@media screen and (max-width: 955px) {
    html {
        font-size: 55%;
    }
    .balance{
        height: 127px;
    }
    header {
        padding: 10px 20px;
    }
    header .icons .btn {
        font-size: 15px;
    }
    .icons1 i,
    .icons i {
        font-size: 20px;
        margin-right: 5px;
    }
    .search{
        max-width: 150px;
    }
}

@media screen and (max-width: 768px) {
    .menu-block {
        display: inline-block;
    }
    header .navbar {
        display: block;
        width: 40%;
        height: 100vh;
        position: absolute;
        top: 100%;
        right: 0;
        padding-left: 20px;
        background: radial-gradient(#fff, #d6e0ff);
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        transition: all .5s;
    }
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .navbar li {
        display: block;
        width: 100%;
        text-align: left;
    }
    .navbar li a {
        margin-bottom: 5px;
    }
    .icons i {
        font-size: 20px;
        margin-right: 5px;
    }
    header .icons .btn {
        font-size: 10px;
    }
    .icons1{
        max-width: 130px;
    }
}

@media screen and (max-width: 413px) {
    .icons .user {
        z-index: 10;
        position: absolute;
        top: 215%;
        right: 0;
        width: 40%;
        height: 100vh;
        text-align: left;
        padding-left: 22px;
        text-align: left;
        transition: all .5s;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
    .icons .user.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .sreach_input{
        width: 100px;
    }
}

@media screen and (max-width: 350px) {
    header {
        padding: 10px 0;
    }
}






















/* -------------------------footer------------------------------ */
.footer{
    /* box-shadow: -1.5rem .5rem ; */
    box-shadow: 1rem -1rem 1rem rgba(38, 38, 38, 0.5);
    margin-top: 50px;
}

.footer_container{ 
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.footer_container>*{
    flex: 1 33.3%;
}

.left_container{
    display: flex;
    justify-content: left;
}

.foot_left{
    /* border: 1px solid red; */
    /* max-width: 600px; */
}

.left_container img{
    display: flex;
    width: 70%;
}
.email{
    padding-top: 70px;
    /* border: 1px solid black; */
}
.message{
    font-size: 18px;
    font-family: 'Source Serif 4', sans-serif;
}
.email_input{
    padding: 5px;
    margin-top: 15px;
}
.submit_button{
    padding-top: 10px;
}
.email_button{
    width: 97%;
}



.footer_middel{
    /* border: 1px solid green; */
    float: left;
    margin-left: 50px;
    padding-left: 200px;
}
.footer_middel ul{
    list-style: none;
}
.footer_middel ul li{
    padding-top: 15px;
}
.footer_middel ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Source Serif 4', sans-serif;
    font-size: 15px;
}



.footer_right{
    /* border: 1px solid blue; */
    text-align: center;
}

.right_container{
    text-align: center;
    padding-left: 70px;
}
.right_container .card{
    border: none;
    padding-left: 10px;
    /* border: 1px solid black; */
    max-width: 200px;
}

.foot_logo img{
    width: 100%;
}

.card-body{
    text-align: left;
}