{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block ven_css %} {% endblock ven_css %} {% block page_css %} {% endblock page_css %} {% block content %}
<h6 class="alert alert-info">Address Filling Form</h6>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            {% if messages %} {% for message in messages %}
            <div {% if messages %} class="alert alert-{{message.tags}}" {% endif %} role="alert">{{message}}</div>
            {% endfor %} {% endif %}
            <form action="" method="POST" name="fname">
                {% csrf_token %} {{ form | crispy }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-sm-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" colspan="2" style="text-align: center;">Person</th>
                        <th scope="col" colspan="4" style="text-align: center;  border-left: 0.5px solid black; border-right: 0.5px solid black;">Address</th>
                        <th scope="col" colspan="2" style="text-align: center;">Add-Romove</th>
                    </tr>
                    <tr>
                        <th scope="col">sr.</th>
                        <th scope="col">Name</th>
                        <th scope="col">Country</th>
                        <th scope="col">State</th>
                        <th scope="col">District</th>
                        <th scope="col">City</th>
                        <th scope="col">Remove</th>
                        <th scope="col">Add</th>
                    </tr>
                </thead>
                <tbody>
                    {% for add in address %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ add.name }}</td>
                        <td>{{ add.get_country_display }}</td>
                        <td>{{ add.get_state_display }}</td>
                        <td>{{ add.district }}</td>
                        <td>{{ add.city }}</td>
                        <td>
                            <a class="btn btn-danger" href="{% url 'delete' add.id %}">Del</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'update' add.id %}">Ed</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock content %} {% block ven_js %} {% endblock ven_js %} {% block page_js %}
<!-- <link rel="stylesheet" href="{% static 'js/script.js' %}"> -->
<script src="{% static 'js/social_app/main.js' %}"></script>
{% endblock page_js %}