{% extends 'base.html' %} {% load crispy_forms_tags %} {% block ven_css %} {% endblock ven_css %} {% block page_css %}
<style>
    .login {
        background: var(--darkened-bg);
        height: auto;
    }
    
    .login #header {
        height: auto;
        padding: 15px 16px;
        justify-content: center;
    }
    
    .login #header h1 {
        font-size: 18px;
    }
    
    .login #header h1 a {
        color: var(--header-link-color);
    }
    
    .login #content {
        padding: 10px 20px 0;
    }
    
    .login #container {
        background: var(--body-bg);
        border: 1px solid var(--hairline-color);
        border-radius: 4px;
        overflow: hidden;
        width: 28em;
        min-width: 300px;
        margin: 5px auto;
        height: auto;
    }
    
    .login .form-row {
        padding: 4px 0;
    }
    
    .login .form-row label {
        display: block;
        line-height: 2em;
    }
    
    .login .form-row #id_username,
    .login .form-row #id_password {
        padding: 8px;
        width: 100%;
        box-sizing: border-box;
    }
    
    .login .submit-row {
        padding: 1em 0 0 0;
        margin: 0;
        text-align: center;
    }
    
    .login .password-reset-link {
        text-align: center;
    }
</style>
{% endblock page_css %} {% block content %}

<body class=" login" data-admin-utc-offset="0" style="background-color: rgb(223, 221, 221);">
    <div id="container" style="border: 1px solid black; background-color: white;">
        <!-- Header -->
        <div id="header">
            <div id="branding" style="border: 1px solid black; background: #417690; padding-top: 10px; padding-bottom: 9px;">
                <h1 id="site-name" style="text-align: center; color: white;">Updation Form</h1>
            </div>
        </div>
        <!-- END Header -->
        <div class="main shifted" id="main">
            <div class="content">
                <!-- Content -->
                <div id="content" class="colM">
                    <div id="content-main">
                        <form action="" method="post">
                            {% csrf_token %} {{ form | crispy }}
                            <button class="btn btn-success" type="submit" style="margin-left: 170px;">Login</button>
                        </form>
                    </div>
                    <br class="clear">
                </div>
                <!-- END Content -->
                <div id="footer"></div>
            </div>
        </div>
    </div>
</body>


{% endblock content %} {% block ven_js %} {% endblock ven_js %} {% block page_js %} {% endblock page_js %}