.box_container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.box_container .background {
    height: 100%;
    /* width: 100%; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box_container .background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

/* .box_container .background.one {
    background-image: url(../img/industry/mapping.jpeg);
}

.box_container .background.two {
    background-image: url(../img/industry/agriculture.jpg);
}

.box_container .background.three {
    background-image: url(../img/industry/survey.jpg);
} */

/* .box_container .background.four {
    background-image: url(../img/industry/military.jpg); */
    /* background-position : x-exis, y-exis */
    /* background-position: 45% center; */
/* } */

/* .box_container .background.five {
    background-image: url(../img/industry/security1.png);
}

.box_container .background.six {
    background-image: url(../img/industry/cinema.jpg);
} */

.box_container .bottom_content {
    position: absolute;
    bottom: 10%;
    left: 2.5rem;
    width: 70%;
    max-width: 500px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 1s;
    transition: opacity 1s, transform 1s;
}

.box_container .bottom_content .content_header {
    font-size: 2rem;
    text-align: left;
    margin: 0 0 1rem left auto;
    font-weight: 600;
    color: #fff;
}

.box_container .bottom_content .content_sub_header {
    font-size: 3rem;
    font-family: sans-serif;
    color: #fff;
    font-weight: 700;
}

.box_container .bottom_content .content_button {
    border: 2px solid white;
    display: inline-block;
    position: relative;
    margin-top: 1rem;
    /* z-index: 2; */
}

.box_container .bottom_content .content_button .text {
    color: #fff;
    font-size: larger;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    padding: 1.2rem 2.5rem;
    transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.box_container .bottom_content .content_button .hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: -1;
    /* scale3d will take three parameters first will be for x exis second one will be for y-exis and the last one is for z exis */
    transform: scale3d(1, 0, 1);
    transform-origin: top center;
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.box_container .bottom_content .content_button:hover .hover {
    transform: scale3d(1, 1, 1);
    transform-origin: bottom center;
}

.box_container .bottom_content .content_button:hover .text {
    color: black;
}

.box_container.on_screen .bottom_content {
    opacity: 1;
    transform: translateY(0);
}
