{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block page_css %}
<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<!-- google font CDN  font-family: 'Sacramento', cursive;  -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">

<!-- google font CDN  font-family: 'Source Serif 4', sans-serif; -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sacramento&family=Source+Serif+4:wght@300;400&display=swap" rel="stylesheet">

<!--Custom CSS-->
<link rel="stylesheet" href="{% static 'app/css/home.css' %}">

{% endblock page_css %}


{% block banner_slider %}
<!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="{% static 'app/images/banner/banner4.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="swiper-slide"><img src="{% static 'app/images/banner/banner1.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="swiper-slide"><img src="{% static 'app/images/banner/banner2.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="swiper-slide"><img src="{% static 'app/images/banner/banner3.jpg' %}" class="d-block w-100" alt="...">
    </div>


    <!-- <div class="swiper-slide"><img src="{% static 'app/images/banner/banner4.2.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="swiper-slide"><img src="{% static 'app/images/banner/banner1.2.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="swiper-slide"><img src="{% static 'app/images/banner/banner2.2.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="swiper-slide"><img src="{% static 'app/images/banner/banner3.2.jpg' %}" class="d-block w-100" alt="...">
    </div> -->


    <!-- <div class="swiper-slide"><img src="{% static 'app/images/banner/banner6.jpg' %}" class="d-block w-100" alt="..."></div>
      <div class="swiper-slide"><img src="{% static 'app/images/banner/banner5.jpg' %}" class="d-block w-100" alt="..."></div>
      <div class="swiper-slide"><img src="{% static 'app/images/banner/banner7.jpg' %}" class="d-block w-100" alt="..."></div>
    </div> -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
{% endblock banner_slider %}


{% block about %}
<div class="about">
  <div class="container" style="max-width: 1000px;">
    <h2>About Koffette</h2>
    <div class="about_koffette">
      <h1>Welcome to Koffette, the unique & rich flavor of Dry Fruits you seek</h1>
      <span>At Koffette we specialize in the fine art and delicacy of roasted nuts. Most nuts including Koffette have
        many health benefits to their name, yet not many have the unique and rich flavor Koffette do. Thus we have
        incorporated real everlasting flavor and nuitrition with many other food in order to come out with a sweet
        dessert and a unique taste.</span>
      <h5>Learn more about Koffette...</h5>
    </div>
  </div>
</div>
{% endblock about %}



{% block content %}
<section style="padding-bottom: 10px">
  <div class="container">
    <div class="row">
      <div class="title">
        <h2 class="my-3" style="text-align: left; font-size: 30px;">Our Products</h2>
        <hr>
      </div>
    </div>
  </div>
</section>

<section class="product_section">
  <div class="container">
    <div class="box">

      <div class="product">
        <a href="/">
          <div class="img_container">
            <img src="{% static 'app/images/home/products/shoes.webp' %}" alt="">
            <p>View Now</p>
          </div>
        </a>
        <div class="detail">
          <div class="brand_name">MACTREE</div>
          <div class="product_title">Lace Up For Men (Black)</div>
          <div class="company_logo"><img src="{% static 'app/images/logo/nlogo3.png' %}" style="box-shadow: none;" alt=""></div>
          <div class="product_price">
            <span class="selling_price"><strong><span>&#8377;</span>1,088 </strong></span> &nbsp;
            <span class="actual_price"><strike><span>&#8377;</span>2,899</strike></span> &nbsp;
            <span class="off_upto"><strong>62% off </strong></span>
          </div>
          <div class="deal"><strong>Deal of The Day</strong></div>
        </div>
        <br>
      </div>

      <div class="product">
        <a href="/">
          <div class="img_container">
            <img src="{% static 'app/images/home/products/jacket.webp' %}" alt="">
            <p>View Now</p>
          </div>
        </a>
        <div class="detail">
          <div class="brand_name">Urbano Fashion </div>
          <div class="product_title">Full Sleeve Solid Men Casual Jacket</div>
          <div class="company_logo"><img src="{% static 'app/images/logo/nlogo3.png' %}" style="box-shadow: none;" alt=""></div>
          <div class="product_price">
            <span class="selling_price"><strong><span>&#8377;</span>699</strong></span> &nbsp;
            <span class="actual_price"><strike><span>&#8377;</span>1,799</strike></span> &nbsp;
            <span class="off_upto"><strong>61<span>% off</span></strong></span>
          </div>
          <div class="deal"><strong>Deal of The Day</strong></div>
        </div>
        <br>
      </div>

      <div class="product">
        <a href="/">
          <div class="img_container">
            <img src="{% static 'app/images/home/products/watch.webp' %}" alt="">
            <p>View Now</p>
          </div>
        </a>
        <div class="detail">
          <div class="brand_name">Fastrack</div>
          <div class="product_title">Analog Watch - For Men</div>
          <div class="company_logo"><img src="{% static 'app/images/logo/nlogo3.png' %}" style="box-shadow: none;" alt=""></div>
          <div class="product_price">
            <span class="selling_price"><strong><span>&#8377;</span>1,676</strong></span> &nbsp;
            <span class="actual_price"><strike><span>&#8377;</span>2,095</strike></span> &nbsp;
            <span class="off_upto"><strong>20<span>% off</span></strong></span>
          </div>
          <div class="deal"><strong>Deal of The Day</strong></div>
        </div>
        <br>
      </div>

      <div class="product">
        <a href="/">
          <div class="img_container">
            <img src="{% static 'app/images/home/products/glassess.webp' %}" alt="">
            <p>View Now</p>
          </div>
        </a>
        <div class="detail">
          <div class="brand_name">Fastrack</div>
          <div class="product_title">Sunglasses (For Men & Women)</div>
          <div class="company_logo"><img src="{% static 'app/images/logo/nlogo3.png' %}" style="box-shadow: none;" alt=""></div>
          <div class="product_price">
            <span class="selling_price"><strong><span>&#8377;</span>664</strong></span> &nbsp;
            <span class="actual_price"><strike><span>&#8377;</span>2,999</strike></span> &nbsp;
            <span class="off_upto"><strong>77<span>% off</span></strong></span>
          </div>
          <div class="deal"><strong>Deal of The Day</strong></div>
        </div>
        <br>
      </div>

      <div class="product">
        <a href="/">
          <div class="img_container">
            <img src="{% static 'app/images/home/products/scarves.webp' %}" alt="">
            <p>View Now</p>
          </div>
        </a>
        <div class="detail">
          <div class="brand_name">Fastrack</div>
          <div class="product_title">Sunglasses (For Men & Women)</div>
          <div class="company_logo"><img src="{% static 'app/images/logo/nlogo3.png' %}" style="box-shadow: none;" alt=""></div>
          <div class="product_price">
            <span class="selling_price"><strong><span>&#8377;</span>664</strong></span> &nbsp;
            <span class="actual_price"><strike><span>&#8377;</span>2,999</strike></span> &nbsp;
            <span class="off_upto"><strong>77<span>% off</span></strong></span>
          </div>
          <div class="deal"><strong>Deal of The Day</strong></div>
        </div>
        <br>
      </div>

      <div class="product">
        <a href="/">
          <div class="img_container">
            <img src="{% static 'app/images/home/products/plant.webp' %}" alt="">
            <p>View Now</p>
          </div>
        </a>
        <div class="detail">
          <div class="brand_name">Fastrack</div>
          <div class="product_title">Sunglasses (For Men & Women)</div>
          <div class="company_logo"><img src="{% static 'app/images/logo/nlogo3.png' %}" style="box-shadow: none;" alt=""></div>
          <div class="product_price">
            <span class="selling_price"><strong><span>&#8377;</span>664</strong></span> &nbsp;
            <span class="actual_price"><strike><span>&#8377;</span>2,999</strike></span> &nbsp;
            <span class="off_upto"><strong>77<span>% off</span></strong></span>
          </div>
          <div class="deal"><strong>Deal of The Day</strong></div>
        </div>
        <br>
      </div>

      <div class="product">
        <a href="/">
          <div class="img_container">
            <img src="{% static 'app/images/home/products/perfume.webp' %}" alt="">
            <p>View Now</p>
          </div>
        </a>
        <div class="detail">
          <div class="brand_name">Fastrack</div>
          <div class="product_title">Sunglasses (For Men & Women)</div>
          <div class="company_logo"><img src="{% static 'app/images/logo/nlogo3.png' %}" style="box-shadow: none;" alt=""></div>
          <div class="product_price">
            <span class="selling_price"><strong><span>&#8377;</span>664</strong></span> &nbsp;
            <span class="actual_price"><strike><span>&#8377;</span>2,999</strike></span> &nbsp;
            <span class="off_upto"><strong>77<span>% off</span></strong></span>
          </div>
          <div class="deal"><strong>Deal of The Day</strong></div>
        </div>
        <br>
      </div>

      <div class="product">
        <a href="/">
          <div class="img_container">
            <img src="{% static 'app/images/home/products/frame.webp' %}" alt="">
            <p>View Now</p>
          </div>
        </a>
        <div class="detail">
          <div class="brand_name">Fastrack</div>
          <div class="product_title">Sunglasses (For Men & Women)</div>
          <div class="company_logo"><img src="{% static 'app/images/logo/nlogo3.png' %}" style="box-shadow: none;" alt=""></div>
          <div class="product_price">
            <span class="selling_price"><strong><span>&#8377;</span>664</strong></span> &nbsp;
            <span class="actual_price"><strike><span>&#8377;</span>2,999</strike></span> &nbsp;
            <span class="off_upto"><strong>77<span>% off</span></strong></span>
          </div>
          <div class="deal"><strong>Deal of The Day</strong></div>
        </div>
        <br>
      </div>

      <div class="product">
        <a href="/">
          <div class="img_container">
            <img src="{% static 'app/images/home/products/light.webp' %}" alt="">
            <p>View Now</p>
          </div>
        </a>
        <div class="detail">
          <div class="brand_name">Fastrack</div>
          <div class="product_title">Sunglasses (For Men & Women)</div>
          <div class="company_logo"><img src="{% static 'app/images/logo/nlogo3.png' %}" style="box-shadow: none;" alt=""></div>
          <div class="product_price">
            <span class="selling_price"><strong><span>&#8377;</span>664</strong></span> &nbsp;
            <span class="actual_price"><strike><span>&#8377;</span>2,999</strike></span> &nbsp;
            <span class="off_upto"><strong>77<span>% off</span></strong></span>
          </div>
          <div class="deal"><strong>Deal of The Day</strong></div>
        </div>
        <br>
      </div>

      <div class="product">
        <a href="/">
          <div class="img_container">
            <img src="{% static 'app/images/home/products/beauty_products.webp' %}" alt="">
            <p>View Now</p>
          </div>
        </a>
        <div class="detail">
          <div class="brand_name">Fastrack</div>
          <div class="product_title">Sunglasses (For Men & Women)</div>
          <div class="company_logo"><img src="{% static 'app/images/logo/nlogo3.png' %}" style="box-shadow: none;" alt=""></div>
          <div class="product_price">
            <span class="selling_price"><strong><span>&#8377;</span>664</strong></span> &nbsp;
            <span class="actual_price"><strike><span>&#8377;</span>2,999</strike></span> &nbsp;
            <span class="off_upto"><strong>77<span>% off</span></strong></span>
          </div>
          <div class="deal"><strong>Deal of The Day</strong></div>
        </div>
        <br>
      </div>

      <div class="product">
        <a href="/">
          <div class="img_container">
            <img src="{% static 'app/images/home/products/grocery.webp' %}" alt="">
            <p>View Now</p>
          </div>
        </a>
        <div class="detail">
          <div class="brand_name">Fastrack</div>
          <div class="product_title">Sunglasses (For Men & Women)</div>
          <div class="company_logo"><img src="{% static 'app/images/logo/nlogo3.png' %}" style="box-shadow: none;" alt=""></div>
          <div class="product_price">
            <span class="selling_price"><strong><span>&#8377;</span>664</strong></span> &nbsp;
            <span class="actual_price"><strike><span>&#8377;</span>2,999</strike></span> &nbsp;
            <span class="off_upto"><strong>77<span>% off</span></strong></span>
          </div>
          <div class="deal"><strong>Deal of The Day</strong></div>
        </div>
        <br>
      </div>

      <div class="product">
        <a href="/">
          <div class="img_container">
            <img src="{% static 'app/images/home/products/bags.webp' %}" alt="">
            <p>View Now</p>
          </div>
        </a>
        <div class="detail">
          <div class="brand_name">Fastrack</div>
          <div class="product_title">Sunglasses (For Men & Women)</div>
          <div class="company_logo"><img src="{% static 'app/images/logo/nlogo3.png' %}" style="box-shadow: none;" alt=""></div>
          <div class="product_price">
            <span class="selling_price"><strong><span>&#8377;</span>664</strong></span> &nbsp;
            <span class="actual_price"><strike><span>&#8377;</span>2,999</strike></span> &nbsp;
            <span class="off_upto"><strong>77<span>% off</span></strong></span>
          </div>
          <div class="deal"><strong>Deal of The Day</strong></div>
        </div>
        <br>
      </div>
      
      <div class="product">
        <a href="/">
          <div class="img_container">
            <img src="{% static 'app/images/home/products/light.webp' %}" alt="">
            <p>View Now</p>
          </div>
        </a>
        <div class="detail">
          <div class="brand_name">Fastrack</div>
          <div class="product_title">Sunglasses (For Men & Women)</div>
          <div class="company_logo"><img src="{% static 'app/images/logo/nlogo3.png' %}" style="box-shadow: none;" alt=""></div>
          <div class="product_price">
            <span class="selling_price"><strong><span>&#8377;</span>664</strong></span> &nbsp;
            <span class="actual_price"><strike><span>&#8377;</span>2,999</strike></span> &nbsp;
            <span class="off_upto"><strong>77<span>% off</span></strong></span>
          </div>
          <div class="deal"><strong>Deal of The Day</strong></div>
        </div>
        <br>
      </div>
      
      <div class="product">
        <a href="/">
          <div class="img_container">
            <img src="{% static 'app/images/home/products/perfume.webp' %}" alt="">
            <p>View Now</p>
          </div>
        </a>
        <div class="detail">
          <div class="brand_name">Fastrack</div>
          <div class="product_title">Sunglasses (For Men & Women)</div>
          <div class="company_logo"><img src="{% static 'app/images/logo/nlogo3.png' %}" style="box-shadow: none;" alt=""></div>
          <div class="product_price">
            <span class="selling_price"><strong><span>&#8377;</span>664</strong></span> &nbsp;
            <span class="actual_price"><strike><span>&#8377;</span>2,999</strike></span> &nbsp;
            <span class="off_upto"><strong>77<span>% off</span></strong></span>
          </div>
          <div class="deal"><strong>Deal of The Day</strong></div>
        </div>
        <br>
      </div>
      
      <div class="product">
        <a href="/">
          <div class="img_container">
            <img src="{% static 'app/images/home/products/plant.webp' %}" alt="">
            <p>View Now</p>
          </div>
        </a>
        <div class="detail">
          <div class="brand_name">Fastrack</div>
          <div class="product_title">Sunglasses (For Men & Women)</div>
          <div class="company_logo"><img src="{% static 'app/images/logo/nlogo3.png' %}" style="box-shadow: none;" alt=""></div>
          <div class="product_price">
            <span class="selling_price"><strong><span>&#8377;</span>664</strong></span> &nbsp;
            <span class="actual_price"><strike><span>&#8377;</span>2,999</strike></span> &nbsp;
            <span class="off_upto"><strong>77<span>% off</span></strong></span>
          </div>
          <div class="deal"><strong>Deal of The Day</strong></div>
        </div>
        <br>
      </div>

    </div>
  </div>
</section>
{% endblock content %}


{% block page_js %}
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- custom js files -->
<script src="{% static 'app/js/home.js' %}"></script>
{% endblock page_js %}