{% extends 'base.html' %} {% load crispy_forms_tags %} {% block ven_css %} {% endblock ven_css %} {% block page_css %}

<!-- <option value="">--select country---</option>
{% for country in countries %}
<option value="{{ country.id }}">{{ country.name }}</option> -->

<option value="">--select state---</option>
{% for state in states %}
<option value="{{ state.id }}">{{ state.name }}</option>

<!-- <option value="">--select district---</option>
{% for district in districts %}
<option value="{{ state.id }}">{{ district.name }}</option>

<option value="">--select city---</option>
{% for city in cities %}
<option value="{{ state.id }}">{{ city.name }}</option> -->



{% endfor %} {% endblock content %} {% block ven_js %} {% endblock ven_js %} {% block page_js %} {% endblock page_js %}